*, *::before, *::after{
  box-sizing: border-box;
  font-family: gotham;
}

@font-face {
  font-family: gotham;
  src: url('./fonts/gotham/GothamBook.ttf');
}

:root{
  --body: rgb(20, 20, 20);
  --content: rgb(30, 30, 30);
  --main-color: rgb(222, 75, 0);
  --light-gray: rgba(90, 90, 90, 0.5);
  --font-gray: rgb(200, 200, 200);
  --font-gray2: rgb(100, 100, 100);
  --card-border: rgb(45, 45, 45);
  --card-border2: rgb(50, 50, 50);
  --card-body: rgb(30, 30, 30);
  --card-body-hover: rgb(65, 65, 65);
}

body{
  margin: 0;
  padding: 0;
  background: var(--body);
  color: white;
}


/* Navbar */

nav{
  height: 90px;
  width: 100%;
  background-color: var(--content);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--main-color) 0px 0px 20px 0px;
  z-index: 99;
}

.site-name{
  text-decoration: none;
  color: white;
}

.site-name h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.container{
  position: relative;
  min-height: 100vh;
  padding-bottom: 10rem;
}

.content-wrap{  
  padding: 4rem 10vw;
}

/* Main page */

.topic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-wrap: wrap;
}

.topic-grid{
  display: grid;
  gap: 0.5rem;
}

.topic-card{
  height: 150px;
  display: flex;
  background: none;
  outline: none;
  text-decoration: none;
  align-items: center;
  border-radius: 5px;
  border: 2px solid var(--card-border);
  background-color: var(--card-body);
  padding: 1rem;
  cursor: pointer;
  color: white;
  flex: 1;
  flex-direction: column;

  transition: 0.2s ease-in-out;
}

.topic-card:hover{
  border: 2px solid var(--card-border2);
}

.topic-card:hover > .card-body h1{
  color: var(--main-color);
}

.card-body{
  width: 100%;
  height: 100%;
}

.card-body h1{
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  letter-spacing: 3px;
}

.card-body p{
  font-size: 0.8rem;
  color: var(--font-gray);
  transition: 0.2s ease-in-out;
}

/* Inputs */

.form-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--content);
  border-radius: 10px;
  border: 1px solid var(--card-border);
  margin-bottom: 2rem;
}

.form{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem 3rem;
  padding: 3rem;
}

.input-container{
  display: flex;
  flex: 1 1 25%;
  position: relative;
  align-items: center;
}

.input-container span{
  position: absolute;
  left: 0;
  padding: 5px 10px;
  border-radius: 2px;
  color: gray;
  pointer-events: none;
  font-size: 1rem;

  transition: 0.2s ease-in-out;
}

.input-container input{
  height: 30px;
  font-size: 1rem;
  background: none;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--light-gray);
  color: white;
  padding: 1.5rem;
  flex: 1;

  transition: 0.2s ease-in-out;
}

.input-container input:focus,
.input-container input:valid{
  border: 1px solid var(--main-color);
}

.input-container input:valid ~ span,
.input-container input:focus ~ span{
  color: var(--content);
  background-color: var(--main-color);
  transform: translateX(10px) translateY(-100%);
  font-size: 0.8rem;
}

.round-off{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.round-off .input{
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.round-off .input input{
  height: 30px;
  font-size: 1rem;
  background: none;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--light-gray);
  color: white;
  padding: 1.5rem;
  flex: 1 1;
}

.round-off p{
  font-size: 0.9rem;
  color: var(--font-gray2);
  margin: 0;
  margin-top: 0.75rem;
}

/* Select unit dropdown */

.dropdown{
  display: grid;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
}

.dropdown select{
  background: none;
  color: white;
  outline: none;
  border: none;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown select::-ms-expand{
  display: none;
}

.dropdown select::after{
  content: "";
  background-color: var(--main-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.dropdown option{
  background: white;
  color: black;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.submit-btn{
  height: 50px;
  display: flex;
  background: none;
  margin: 2rem 0;
  align-items: center;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--main-color);
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;

  transition: 0.2s ease-in-out;
}

.submit-btn span{
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;

  transition: 0.2s ease-in-out;
}

.submit-btn:hover{
  background-color: var(--main-color);
}

.submit-btn:hover > span{
  color: var(--body);
}

.answers-container{
  display: flex;
  justify-content: center;
}

.answers{
  width: 100%;
  background-color: var(--content);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem 3rem;
  padding: 3rem;
  border-radius: 10px;
}

.answer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 1rem;
  position: relative;
}

.number{
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}

.copy-btn{
  display: flex;
  align-items: center;
  filter: invert(75%);

  transition: 0.2s ease-in-out;
}

.copy-btn:hover{
  cursor: pointer;
  filter: invert(100%);
}

/* Footer */

footer{
  display: flex;
  justify-content: center;
  background-color: var(--content);
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
  position: absolute;
  bottom: 0;
  box-shadow: var(--main-color) 0px 0px 20px 0px;
}

footer p{
  margin: 0;
}

footer :nth-child(1){
  font-size: 0.9rem;
  color: var(--font-gray);
  margin-bottom: 0.75rem;
}

footer :nth-child(2){
  font-size: 0.75rem;
  color: var(--font-gray);
}

@media (min-width: 1280px){
  .topic-grid{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 1280px){
  .topic-grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .answers{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 640px){
  .topic-grid{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}